NEXT_PUBLIC_FACEBOOK_AUTH_ID = 3041626605866712
NEXT_PUBLIC_GOOGLE_AUTH_ID = 330041048247-185g5p39s1j35nvh28oahmo16o1jri21.apps.googleusercontent.com

NEXT_PUBLIC_RAMP_URL = https://ri-widget-staging.firebaseapp.com/
NEXT_PUBLIC_RAMP_APP_NAME = Cylimit
NEXT_PUBLIC_RAMP_LOGO_URL = https://rampnetwork.github.io/assets/misc/test-logo.png

NEXT_PUBLIC_API_URL = http://192.168.1.74:4000/v1